extends ./layout/master.pug

block content
    .page-header
        h1.page-title
            | Home
    .row.row-cards
        .col-3
            .card
                .card-body.p-3
                    .d-flex.align-items-center
                        span.stamp.stamp-md.bg-blue.mr-3
                            i.fe.fe-file
                        div
                            h4.m-0
                                a(href='javascript:void(0)')
                                    | Total Ticket #{total} 
        .col-3
            .card
                .card-body.p-3
                    .d-flex.align-items-center
                        span.stamp.stamp-md.bg-green.mr-3
                            i.fe.fe-file
                        div
                            h4.m-0
                                a(href='javascript:void(0)')
                                    | Today Ticket #{today}
        .col-3
            .card
                .card-body.p-3
                    .d-flex.align-items-center
                        span.stamp.stamp-md.bg-yellow.mr-3
                            i.fe.fe-file
                        div
                            h4.m-0
                                a(href='javascript:void(0)')
                                    | Pending Ticket #{pending}
        .col-3
            .card
                .card-body.p-3
                    .d-flex.align-items-center
                        span.stamp.stamp-md.bg-red.mr-3
                            i.fe.fe-file
                        div
                            h4.m-0
                                a(href='javascript:void(0)')
                                    | Open Ticket #{open}
    .row.row-card
        .col-6
           .card
                .card-header
                    h3.card-title Ticket Charts
                .card-body
                    #chart-pie(style="height:14rem")
        .col-6
            .card
                .card-header
                    h3.card-title Online User
                .card-body.text-center
                    //- .display-4.font-weight-bold.mb-4.user-online #{jumlah}
                    //- .progress.progress-sm
                    //-     .progress-bar.bg-green(style='width:'+(jumlah*100)/countuser+'%')
                    #chart-user(style="height:14rem")
block script 
    script.
        $(document).ready(function(){
            function showOnline(){
                var url = $('body').data('host')
                $.get(url+'users/online', (data)=>{
                    console.log(data.online)
                   return templateOnline(data.online);
                })
                
            }

            function templateOnline(params){
                var bodytable = '';
               
                params.forEach((items) => {
                    bodytable += `<tr style="background-color:#fff"><td><a href="#"><div class="avatar d-block" title="Member">${items.charAt(0).toUpperCase()}<span class="avatar-status bg-green"></span></div></a></td><td> <a class="notif-read" href="#6" data-notif="4" style="text-decoration:none; color:#afa5a5; "> ${items}</a></td></tr>`
                })
                
                var table = `<table class="table card-table table-vcenter"><tbody>${bodytable}</tbody></table>`
                $('#useronline .modal-body').html(table)
                return $('#useronline').modal('show')
            }
            var chart = c3.generate({
                bindto: '#chart-pie', // id of chart wrapper
                data: {
                    columns: [
                        // each columns data
                        ['data1', "#{pending}"],
                        ['data2', "#{open}"],
                        ['data3', "#{complete}"],
                    ],
                    type: 'pie', // default type of chart
                    colors: {
                        'data1': '#6574cd',
                        'data2': '#cd201f',
                        'data3': '#45aaf2',
                    },
                    names: {
                        // name of each serie
                        'data1': 'Pending #{pending}',
                        'data2': 'Open #{open}',
                        'data3': 'Complete #{complete}',
                    },
                },
                axis: {
                },
                legend: {
                    show: true, //hide legend
                },
                padding: {
                    bottom: 0,
                    top: 0
                },
            });
            socket.on('count-user', function(data){
                var jml = data.online
                var countAll = "#{countuser}";
                var offline = parseInt(countAll)-jml;
                var chartUser = c3.generate({
                    bindto: '#chart-user', // id of chart wrapper
                    data: {
                        columns: [
                            // each columns data
                            ['data1', offline],
                            ['data2', jml],
                        ],
                        type: 'pie', // default type of chart
                        colors: {
                            'data1': '#6574cd',
                            'data2': '#5eba00',
                        },
                        names: {
                            // name of each serie
                            'data1': 'offline '+offline,
                            'data2': 'online '+jml,
                        }
                    },
                    axis: {
                    },
                    legend: {
                        show: true, //hide legend
                    },
                    padding: {
                        bottom: 0,
                        top: 0
                    },
                });
            })

            var chartUser = c3.generate({
                    bindto: '#chart-user', // id of chart wrapper
                    data: {
                        columns: [
                            // each columns data
                            ['data1', "#{countuser-jumlah}"],
                            ['data2', "#{jumlah}"],
                        ],
                        type: 'pie', // default type of chart
                        colors: {
                            'data1': '#6574cd',
                            'data2': '#5eba00',
                        },
                        names: {
                            // name of each serie
                            'data1': 'offline #{countuser-jumlah}',
                            'data2': 'online #{jumlah}',
                        },

                        onclick:function(d, element){
                            return showOnline()
                        }
                    },
                    axis: {
                    },
                    legend: {
                        show: true, //hide legend
                    },
                    padding: {
                        bottom: 0,
                        top: 0
                    },
                });
            
        });