extends ../layout/master.pug

block content
    .row.row-cards.row-deck
        .col-12
            .card
                .card-body
                    .table-responsive
                        table.table.table-hover.table-outline.table-vcenter.text-nowrap.card-table
                          thead
                            tr
                                th No
                                th Ticket Kode
                                th Owner
                                th Masalah
                                th Deskripsi
                                th Priority
                                th.text-center
                                    i.icon-settings
                            tbody
                           
                             each data, index in ticket
                                - var status;
                                if(ticket.status = 1)
                                    -status = 'alert-info'
                                else if(ticket.status == 2)
                                    -status = 'alert-success'
                                else
                                    -status = 'alert-danger'
                                tr(class=status)
                                    td= index+1
                                    td
                                        a(href=base_url+'ticket/view/'+data.ticket_code)= data.ticket_code
                                    td
                                        a(href='#')
                                            .avatar.d-block(title=data.user.name) #{stringCustom(data.user.name)}
                                    td= data.title
                                    td= data.description
                                    td
                                        if(data.priority == 1)
                                            | Hight
                                        else if (data.priority == 2)
                                            | Normal
                                        else
                                            | Low
                                    td
                                        .item-action.dropdown
                                            a.icon(href="javascript:void(0)" data-toggle="dropdown")
                                                i.fe.fe-more-vertical
                                            .dropdown-menu.dropdown-menu-right
                                                a.dropdown-item(href=base_url+'ticket/edit/'+data.ticket_code)
                                                    i.dropdown-icon.fe.fe-tag
                                                        |  Edit
                                                a.dropdown-item(href="javascript:void(0)" class="ticket-delete" data-id=data.id_ticket)
                                                    i.dropdown-icon.fe.fe-edit-2
                                                        |  Delete