extends ../layout/master.pug

block content
    .row
        .col-lg-9
            .card
                .card-header
                    .d-flex.align-items-center.mt-auto(style='width:100%;')
                        .avatar.avatar-md.mr-3(style="background-image: url(./demo/faces/female/18.jpg)")
                        div
                            a.text-default(href="./profile.html") #{ticket.user.name}
                            small.d-block.text-muted 
                                -var date_now = new Date();
                                if moment(ticket.crated_at).format("MMM Do YY") == moment(date_now).format("MMM Do YY")
                                    |#{moment(ticket.crated_at).fromNow()}
                                else
                                    |#{moment(ticket.crated_at).format("MMM Do YY")}
                        .ml-auto.text-red
                            a.icon.d-none.d-md-inline-block.ml-3(href="#") Status : 
                                if(ticket.status == 2)
                                    i.fa.fa-check-circle(style='color:#213ab9;' title="On Progress")
                                else if(ticket.status == 1)
                                    i.fa.fa-check-circle(style='color:#669999' title="Complete")
                                else 
                                    i.fa.fa-check-circle(style='color:#ff0066' title="Open")
                            a.icon.d-none.d-md-inline-block.ml-3(href="#") Priority : 
                                if(ticket.priority == 1)
                                    i.fa.fa-heart(style='color:red' title="Hight")
                                else if(ticket.priority == 2)
                                    i.fa.fa-heart(style='color:blue' title="Normal")
                                else 
                                    i.fa.fa-heart(style='color:yellow' title="Low")
                .card-body
                    .text-wrap
                        h2.mt-0.mb-4 #{ticket.title}
                        p #{ticket.description}
                .card-footer
                    .footer-menu(style='display:flex; flex-direction:row; justify-content:flex-end;')
                        if ticket.status !=1
                            if user.roles[0].role_name == 'operator'
                                a.btn.btn-outline-primary.btn-sm.btn-change(href=base_url+'ticket/change/'+ticket.id_ticket data-sts="start" style='margin-left:2px;') Start Progress
                            if user.roles[0].role_name == 'member'
                                a.btn.btn-outline-primary.btn-sm.btn-rate(href=base_url+'ticket/change/'+ticket.id_ticket data-sts="complete" data-ticket=ticket.id_ticket data-user=ticket.assignment data-name=ticket.user.name style='margin-left:2px;') Completed Progress
                            a.btn.btn-outline-primary.btn-sm(href=base_url+'ticket/edit/'+ticket.ticket_code style='margin-left:2px;') Edit
                            a.btn.btn-outline-primary.btn-sm.ticket-delete(href=base_url+'ticket/delete/'+ticket.id_ticket style='margin-left:2px;' data-id=ticket.id_ticket) Delete
                        else
                            ul.rating
                                each val in [1, 2, 3, 4, 5]
                                    if val<=rating.rate
                                        li
                                            i.fa.fa-heart
                                    else
                                        li
                                            i.fa.fa-heart-o
            .card(style='box-shadow:none; border:none; background-color:transparent;')
                .card-body(style='padding:1.5rem 0;')
                    form(method='post' action=base_url+'comment' id="form-comment")
                        input(type='hidden' name='ticket' value=ticket.id_ticket)
                        input(type='hidden' name='ticket_code' value=ticket_code)
                        .form-group
                            textarea.form-control(name='comment' rows='5')
                        .form-.text-right
                            button.btn.btn-primary.btn-pull-right(type='submit') Post Coment
            .comment-list
               each data in comment
                .card(style='box-shadow:none; border:none; background-color:#b5b3b917; border-radius:5px;')
                    .card-body
                        .d-flex.align-items-center.mt-auto.c-first-child
                            .avatar.avatar-md.mr-3(style='background-image: url(./demo/faces/male/16.jpg)') #{stringCustom(data.user.name)}
                            div
                                a.text-default(href='./profile.html') #{data.user.email}
                                small.d-block.text-muted #{moment(data.created).fromNow()}
                            .ml-auto.text-muted
                                if data.author == user.id_users
                                    a.icon.d-none.d-md-inline-block.c-icon.edit-comment(href='javascript:void(0)' data-target=data.id_comment)
                                        i.fa.fa-pencil
                                    a.icon.d-none.d-md-inline-block.c-icon.delete-comment(href='javascript:void(0)' data-target=data.id_comment)
                                        i.fa.fa-trash
                        .text-muted.c-first-child(style='width:90%; margin-left:3rem; margin-top:0.5rem')
                            p #{data.comment}
                        .field-edit-comment.c-hidden
                            form.form-edit.comment(method='post' action=base_url+'comment/update/'+data.id_comment)
                                .form-group
                                    textarea.form-control(name="comment", , rows="5") #{data.comment}
                                .form-group.text-right
                                    button.btn.btn-warning.edit-cancel(type='button' style='margin-right: 5px;') Cancel
                                    button.btn.btn-primary(type='submit') Update
        .col-lg-3.order-lg-mb-4
            a.btn.btn-block.btn-primary
                i.fa.fa-user.mr-2
                | Assigment To
            .list-group.list-group-transparent.mb-0
                a.list-group-item.list-group-item-action.active(href='#')
                    span.icon.mr-3
                        i.fa.fa-user
                    | #{ticket.assigments.email}