extends ../layout/master.pug

block content
	.row.row-cards.row-deck
		.col-12
			.col-md-2
				a.btn.btn-primary(href=base_url+'users/create')
					i.fe.fe-plus(data-toggle='tooltip')
					|New User
			.card
				.card-body
					.table-responsive
						table.table.table-hover.table-outline.table-vcenter.text-nowrap
							thead
								tr
									th No
									th Name
									th Email
									th.text-center
										i.icon-settings
							tbody
								each data, index in users
									tr
										td= index+1
										td= data.name
										td= data.email
										td
											form(method='post' action=base_url+'users/delete/'+data.id_users id='form-delete-user')
												a.btn.btn-primary.btn-sm(href=base_url+'users/edit/'+data.id_users)
													i.fe.fe-edit
												button.btn.btn-danger.btn-sm(type='submit')
													i.fe.fe-trash                        