extends ../layout/master.pug

block content
    .row
        .col-lg-4
            .card.card-profile
                .card-header(style='background-image: url(../dist/demo/photos/eberhard-grossgasteiger-311213-500.jpg);')
                .card-body.text-center
                    img.card-profile-img(src='../img/user.png')
                    h3.mb-3 #{user.name}
                    p.mb-4
                    | #{user.email}
        .col-lg-8
            .card
                .card-header
                    h3.card-title Notification
                table.table.card-table.table-vcenter.table-notif
                    tbody
                        each data in notif
                            -var style = '#c1bbbb73';
                            if data.notif_read
                                -style = '#fff';
                            tr(style="background-color:"+style)
                                td
                                    a(href='#')
                                        .avatar.d-block(title=data.from.name) #{stringCustom(data.from.name)}
                                td 
                                    a(href=base_url+'ticket/view/'+data.ticket_code data-notif=data.id_notif class="notif-read" style="text-decoration:none; color:#afa5a5; ") 
                                        if data.type == 1
                                            | New ticket from 
                                        else if(data.type == 2)
                                            | Ticket has been process by 
                                        else if data.type == 3
                                            | tickets have been completed by 
                                        else 
                                            | New Comment from
                                        span(style='color:#5eba00') #{data.from.name}
                                td.text-right
                                    strong #{moment(data.created).startOf('hour').fromNow()}
                            tr
                