extends ../layout/master.pug

block content
    .row
        .col-lg-4
            .card.card-profile
                .card-header(style='background-image: url(../dist/demo/photos/eberhard-grossgasteiger-311213-500.jpg);')
                .card-body.text-center
                    img.card-profile-img(src='../dist/demo/faces/male/16.jpg')
                    h3.mb-3 #{user.name}
                    p.mb-4
                    | #{user.email}
        .col-lg-8
            .card
                .card-header
                    h3.card-title Notification
                table.table.card-table.table-vcenter
                    tbody
                        each data in notif
                            tr
                                td
                                    a(href='#')
                                        .avatar.d-block(title=data.from.name) #{stringCustom(data.from.name)}
                                td 
                                    a(href=base_url+'ticket/view/'+data.ticket_code style="text-decoration:none; color:#afa5a5; ") 
                                        | New ticket from  
                                        span(style='color:#5eba00') #{data.from.name}
                                td.text-right.text-muted.d-none.d-md-table-cell.text-nowrap 38 offers
                                td.text-right
                                    strong #{moment(data.created).fromNow()}
                            tr
                