extends ../layout/master.pug

block content
    .page-header
        h1.page-title
            | Ticket
    .row.row-cards
        .col-6.col-sm-4.col-lg-2
            .card
                .card-body.p-3.text-center
                    .text-right.text-green
                        | 6%
                        i.fe.fe-chevron-up
                    .h1.m-0 #{total}
                    .text-muted.mb-4 Total Ticket
        .col-6.col-sm-4.col-lg-2
            .card
                .card-body.p-3.text-center
                    .text-right.text-green
                        | 6%
                        i.fe.fe-chevron-up
                    .h1.m-0 #{today}
                    .text-muted.mb-4 Today ticket
        .col-6.col-sm-4.col-lg-2
            .card
                .card-body.p-3.text-center
                    .text-right.text-green
                        | 6%
                        i.fe.fe-chevron-up
                    .h1.m-0 #{complete}
                    .text-muted.mb-4 Complete ticket
        .col-6.col-sm-4.col-lg-2
            .card
                .card-body.p-3.text-center
                    .text-right.text-green
                        | 6%
                        i.fe.fe-chevron-up
                    .h1.m-0 #{pending}
                    .text-muted.mb-4 Pending Ticket
        .col-6.col-sm-4.col-lg-2
            .card
                .card-body.p-3.text-center
                    .text-right.text-green
                        | 6%
                        i.fe.fe-chevron-up
                    .h1.m-0 #{open}
                    .text-muted.mb-4 Open Ticket
        .col-6.col-sm-4.col-lg-2
            .card
                .card-body.p-3.text-center
                    .text-right.text-green
                        | 6%
                        i.fe.fe-chevron-up
                    .h1.m-0 #{thismont}
                    .text-muted.mb-4 Ticket this month
    .row.row-cards.row-deck
        .col-12
            .card
                .card-header
                    .h3.card-title Lihat laporan berdasarkan periode
                .card-body
                    form(method="get" action=base_url+'report/view')
                        .form-group
                            .row.gutters-xs
                                .col-4
                                    input.form-control(type="date" name="from")
                                .col-4
                                    input.form-control(type="date" name="to")
                                .col-2
                                    select.form-control(name='type')
                                        option(value="0") Open
                                        option(value="2") Pending
                                        option(value="1") Complette
                                        option(value="3") All
                                .col-2
                                    button.btn.btn-primary.btn-block Submit
