doctype html
html
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
		meta(http-equiv='X-UA-Compatible' content='ie=edge')
		meta(http-equiv='Content-Language' content='en')
		meta(name='msapplication-TileColor' content='#2d89ef')
		meta(name='theme-color' content='#4188c9')
		meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')
		meta(name='apple-mobile-web-app-capable' content='yes')
		meta(name='mobile-web-app-capable' content='yes')
		meta(name='HandheldFriendly' content='True')
		meta(name='MobileOptimized' content='320')
		link(rel='icon' href='./favicon.ico' type='image/x-icon')
		link(rel='shortcut icon' type='image/x-icon' href='./favicon.ico')
		// Generated: 2018-03-27 13:25:03 +0200
		title
			| Helpdesk Ticketing
		link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
		link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&subset=latin-ext')
		//- script(src=base_url+'dist/assets/js/require.min.js')
		// Dashboard Core
		link(href=base_url+'dist/assets/css/dashboard.css' rel='stylesheet')
		link(rel="stylesheet", href=base_url+'stylesheets/sweetalert.css')
		link(rel="stylesheet", href=base_url+'stylesheets/jquery.dataTables.min.css')
		link(rel="stylesheet", href=base_url+'dist/assets/plugins/charts-c3/plugin.css')
		link(rel="stylesheet", href=base_url+'stylesheets/style.css')
		block css
				
	body(data-host=base_url)
		.page
			.page-main
				.header.py-4
					.container
						.d-flex
							a.navbar-brand(href=base_url)
								img.navbar-brand-img(src=base_url+'img/logo-sm.png' alt='tabler.io' style="height:100%")
								span.app-title &nbsp;PT. INDOPLAT PERKASA PURNAMA
							.d-flex.order-lg-2.ml-auto
								.dropdown.d-none.d-md-flex
									a.nav-link.icon(data-toggle="dropdown")
										i.fe.fe-bell
										if notification.length > 0
											span.nav-unread
									.dropdown-menu.dropdown-menu-right.dropdown-menu-arrow
										each notif in notification
											a.dropdown-item.d-flex(href=base_url+'ticket/view/'+notif.ticket_code data-notif=notif.id_notif class="notif-read")
												.avatar.d-block(title=notif.from.name style='margin-right:5px;') #{stringCustom(notif.from.name)}
												div
													strong
														if notif.type == 1
															| New ticket from 
														else if(notif.type == 2)
															| Ticket has been process by 
														else if notif.type == 3
															| tickets have been completed by 
														else 
															| New Comment from
														span(style='color:#5eba00') &nbsp;#{notif.from.name}
													.small.text-muted #{moment(notif.created_at).startOf('hour').fromNow()}
										.dropdown-divider
										a.dropdown-item.text-center.text-muted-dark(href=base_url+'profil') View All
								.dropdown
									a.nav-link.pr-0.leading-none(href="#" data-toggle="dropdown")
										span.avatar(style="background-image: url("+base_url+"img/user.png)")
										span.ml-2.d-none.d-lg-block
											span#user-info.text-default(data-user=user.id_users) #{user.email}
											small.text-muted.d-block.mt-1 #{user.roles[0].role_name}
									.dropdown-menu.dropdown-menu-right.dropdown-menu-arrow
										a.dropdown-item(href=base_url+'profil')
											i.dropdown-icon.fe.fe-user
											|  Profile
										.dropdown-divider
										a.dropdown-item(href=base_url+'profil/password')
											i.dropdown-icon.fe.fe-help-circle
											|  Change password
										a.dropdown-item(href=base_url+'logout')
											i.dropdown-icon.fe.fe-log-out
											|  Sign out
							a.header-toggler.d-lg-none.ml-3.ml-lg-0(href="#" data-toggle="collapse" data-target="#headerMenuCollapse")
								span.header-toggler-icon
				#headerMenuCollapse.header.collapse.d-lg-flex.p-0
					.container
						.row.align-items-center
							.col-lg-3.ml-auto
								form.input-icon.my-3.my-lg-0(method='get' action=base_url+'ticket/search')
									.input-group
										input.form-control(type='text' name='search' placeholder='Search Ticket...' value=isset(search))
										span.input-group-append
											button.btn.btn-secondary(type='submit')
												i.fe.fe-search
							.col-lg.order-lg-first
								ul.nav.nav-tabs.border-0.flex-column.flex-lg-row
									li.nav-item
										a.nav-link(href=base_url+'home')
											i.fe.fe-home
											|  Home
									if user.roles[0].role_name == 'administrator'
										li.nav-item
											a.nav-link(href="javascript:void(0)" data-toggle="dropdown")
												i.fe.fe-book
												|  Report
											.dropdown-menu.dropdown-menu-arrow
												a.nav-item(href=base_url+'report/technician') By Technician
												a.nav-item(href=base_url+'report/ticketstatus?status=1')  Complete Ticket
												a.nav-item(href=base_url+'report/ticketstatus?status=2')  Pending Ticket
												a.nav-item(href=base_url+'report/ticketstatus?status=0')  Open Ticket
												a.nav-item(href=base_url+'report') By Periode
										li.nav-item
											a.nav-link(href="javascript:void(0)" data-toggle="dropdown")
												i.fe.fe-box
												|  Data
											.dropdown-menu.dropdown-menu-arrow
												a.nav-item(href=base_url+'users') Data User
									li.nav-item
										a.nav-link(href=base_url+'ticket')
											i.fa.fa-file-o
											|  Tickets
									if user.roles[0].role_name == 'member'
										li.nav-item
											a.nav-link(href=base_url+'ticket/create')
												i.fe.fe-plus-circle
												|  New Tickets
				.my-3.my-md-5
					.container
						block content

			footer.footer
				.container
					.row.align-items-center.flex-row-reverse
						.col-12.text-center
							| Copyright &copy; 2018 
							a(href='.') Helpdesk Ticketing
							| . Theme by 
							a(href='https://codecalm.net' target='_blank') codecalm.net
			#modal-rate.modal.fade
				.modal-dialog.modal-dialog-centered(role='document')
					.modal-content
						.modal-header
							h5#exampleModalCenterTitle.modal-title Modal title
							button.close(type='button', data-dismiss='modal', aria-label='Close')
						.modal-body
							ul.rate
								li
									i.fa.fa-heart-o
								li
									i.fa.fa-heart-o
								li
									i.fa.fa-heart-o
								li
									i.fa.fa-heart-o
								li
									i.fa.fa-heart-o
						.modal-footer
							button.btn.btn-secondary(type='button', data-dismiss='modal') Close
							button.btn.btn-primary.complete-ticket(type='button') Save changes
			
			#useronline.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLongTitle', aria-hidden='true')
				.modal-dialog(role='document')
					.modal-content
						.modal-header
							h5#exampleModalLongTitle.modal-title Online User
							button.close(type='button', data-dismiss='modal', aria-label='Close')
						.modal-body
							
						.modal-footer
							button.btn.btn-secondary(type='button', data-dismiss='modal') Close
		script(src=base_url+'dist/assets/js/vendors/jquery-3.2.1.min.js')
		script(src=base_url+'dist/assets/js/vendors/bootstrap.bundle.min.js')
		script(src=base_url+'javascripts/sweetalert.min.js')
		script(src=base_url+'dist/assets/plugins/charts-c3/js/c3.min.js')
		script(src=base_url+'dist/assets/plugins/charts-c3/js/d3.v3.min.js')
		script(src=base_url+'javascripts/jquery.dataTables.min.js')
		script(src=base_url+'javascripts/jquery.validate.js')
		script(src=base_url+'javascripts/socket.io.js')
		script(src=base_url+'javascripts/app.js')
		script.
			var base_url = '#{base_url}'
			var to_user = $('#user-info').data('user'); var socket = io.connect('http://localhost:3000',  {reconnect: true});
		block script