doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
        meta(http-equiv='X-UA-Compatible' content='ie=edge')
        meta(http-equiv='Content-Language' content='en')
        meta(name='msapplication-TileColor' content='#2d89ef')
        meta(name='theme-color' content='#4188c9')
        meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')
        meta(name='apple-mobile-web-app-capable' content='yes')
        meta(name='mobile-web-app-capable' content='yes')
        meta(name='HandheldFriendly' content='True')
        meta(name='MobileOptimized' content='320')
        link(rel='icon' href='./favicon.ico' type='image/x-icon')
        link(rel='shortcut icon' type='image/x-icon' href='./favicon.ico')
        // Generated: 2018-03-27 13:25:03 +0200
        title
            | Empty page - tabler.github.io - a responsive, flat and full featured admin template
        link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
        link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&subset=latin-ext')
        //- script(src=base_url+'dist/assets/js/require.min.js')
        // Dashboard Core
        link(href=base_url+'dist/assets/css/dashboard.css' rel='stylesheet')
        link(href='https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css', rel='stylesheet')
        link(rel="stylesheet", href=base_url+'stylesheets/sweetalert.css')
        link(rel="stylesheet", href='//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css')
        link(rel="stylesheet", href='https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css')
        link(rel="stylesheet", href=base_url+'stylesheets/style.css')
        
    body(data-host=base_url)
        .page
            .page-main
                .header
                  .container
                    .d-flex
                      a.navbar-brand(href='./index.html')
                        img.navbar-brand-img(src=base_url+'dist/demo/brand/tabler.svg' alt='tabler.io')
                      .ml-auto.d-flex.order-lg-2
                        .nav-item
                          a.btn.btn-sm.btn-outline-primary(href='https://github.com/tabler/tabler' target='_blank') Source code
                        .dropdown.d-none.d-md-flex
                          a.nav-link.icon(data-toggle='dropdown')
                            i.fe.fe-message-square
                          .dropdown-menu.dropdown-menu-right.dropdown-menu-arrow.px-4
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium architecto asperiores dolorem, est fugiat in maxime natus officia velit voluptas! Ab asperiores
                            | delectus dolore dolores maxime nesciunt qui quia totam.
                        .dropdown.d-none.d-md-flex
                          a.nav-link.icon(data-toggle='dropdown')
                            i.fe.fe-bell
                            span.nav-unread
                          .dropdown-menu.dropdown-menu-right.dropdown-menu-arrow.px-4
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium architecto asperiores dolorem, est fugiat in maxime natus officia velit voluptas! Ab asperiores
                            | delectus dolore dolores maxime nesciunt qui quia totam.
                        .dropdown
                          a.nav-link.pr-0(href='#' data-toggle='dropdown')
                            span.avatar(style='background-image: url(../dist/demo/faces/female/25.jpg)')
                            span.ml-2.d-none.d-lg-block
                              span.text-default #{user.email}
                              small.text-muted.d-block.mt-1 Administrator
                          .dropdown-menu.dropdown-menu-right.dropdown-menu-arrow
                            a.dropdown-item(href='#')
                              span Profile
                            a.dropdown-item(href='#')
                              span Settings
                            a.dropdown-item(href='#')
                              span.float-right
                                span.badge.badge-primary 6
                              span Inbox
                            a.dropdown-item(href='#')
                              span Message
                            .dropdown-divider
                            a.dropdown-item(href='#') Need help? 
                            a.dropdown-item(href=base_url+'logout') Sign out
                      #navbarToggler.collapse.navbar-collapse.order-lg-1
                        ul.navbar-nav.mt-2.mt-lg-0.mx-0.mx-lg-2
                          li.nav-item
                            a.nav-link(href='#') Dashboard
                          li.nav-item.dropdown
                            a.nav-link.dropdown-toggle(href='#' data-toggle='dropdown') Projects
                            .dropdown-menu.mt-2.text-color(role='menu')
                              a.dropdown-item(href='#')
                                i.dropdown-icon.fa.fa-tag
                                |  Action
                              a.dropdown-item(href='#')
                                i.dropdown-icon.fa.fa-pencil
                                |  Another action
                              a.dropdown-item(href='#')
                                i.dropdown-icon.fa.fa-reply
                                |  Something else here
                              .dropdown-divider
                              a.dropdown-item(href='#')
                                i.dropdown-icon.fa.fa-ellipsis-h
                                |  Separated link
                .header-nav.d-none.d-lg-flex
                  .container
                    .row.align-items-center
                      .col
                        ul.nav.nav-tabs
                          li.nav-item
                            a.nav-link(href='./index.html')
                              i.fe.fe-home
                              |  Home
                          li.nav-item
                            a.nav-link(href=base_url+'report')
                              i.fe.fe-home
                              |  Report
                          li.nav-item
                            a.nav-link(href='javascript:void(0)')
                              i.fe.fe-box
                              |  Data
                            .nav-submenu.nav
                              a.nav-item(href=base_url+'alat') Data Alat
                              a.nav-item(href=base_url+'users') Data User
                              a.nav-item(href='./pricing-cards.html') Pricing cards
                          li.nav-item
                            a.nav-link(href=base_url+'ticket')
                              i.fa.fa-file-o
                              |  Tickets
                          li.nav-item
                            a.nav-link(href=base_url+'ticket/create')
                              i.fe.fe-plus-circle
                              |  New Tickets
                      .col-3.ml-auto
                        form.input-icon
                          input.form-control.header-search(type='search' placeholder='Search…' tabindex='1')
                          .input-icon-addon
                            i.fe.fe-search
                .page-content
                  .container
                    //- .page-header
                    //-   h1 Dashboard
                    block content

            .footer
                .container
                  .row
                    .col-lg-8
                        .row
                            .col-6.col-md-3
                                ul.list-unstyled.mb-0
                                    li
                                      a(href='#') First link
                                    li
                                      a(href='#') Second link
                            .col-6.col-md-3
                                ul.list-unstyled.mb-0
                                    li
                                      a(href='#') Third link
                                    li
                                      a(href='#') Fourth link
                            .col-6.col-md-3
                                ul.list-unstyled.mb-0
                                    li
                                      a(href='#') Fifth link
                                    li
                                      a(href='#') Sixth link
                            .col-6.col-md-3
                                ul.list-unstyled.mb-0
                                    li
                                      a(href='#') Other link
                                    li
                                      a(href='#') Last link
                            .col-lg-4.mt-4.mt-lg-0
                                | Premium and Open Source dashboard template with responsive and high quality UI. For Free!
                
            footer.footer
                .container
                    .row.align-items-center.flex-row-reverse
                        .col-auto.ml-auto
                            .row.align-items-center
                                .col-auto
                                    ul.list-inline.list-inline-dots.mb-0
                                        li.list-inline-item
                                          a(href='./docs/index.html') Documentation
                                        li.list-inline-item
                                          a(href='./faq.html') FAQ
                                .col-auto
                                    a.btn.btn-outline-primary.btn-sm(href='https://github.com/tabler/tabler') Source code
                        .col-12.col-lg-auto.mt-3.mt-lg-0.text-center
                            | Copyright &copy; 2018 
                            a(href='.') Tabler
                            | . Theme by 
                            a(href='https://codecalm.net' target='_blank') codecalm.net
                            |  All rights reserved.
        script(src=base_url+'dist/assets/js/vendors/jquery-3.2.1.min.js')
        script(src=base_url+'dist/assets/js/vendors/bootstrap.bundle.min.js')
        script(src=base_url+'javascripts/sweetalert.min.js')
        script(src=base_url+'dist/assets/js/vendors/selectize.min.js')
        script(src='//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js')
        script(src='https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js')
        script(src=base_url+'javascripts/app.js')
        block script