doctype html
html
		head
				meta(charset='UTF-8')
				meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
				meta(http-equiv='X-UA-Compatible' content='ie=edge')
				meta(http-equiv='Content-Language' content='en')
				meta(name='msapplication-TileColor' content='#2d89ef')
				meta(name='theme-color' content='#4188c9')
				meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')
				meta(name='apple-mobile-web-app-capable' content='yes')
				meta(name='mobile-web-app-capable' content='yes')
				meta(name='HandheldFriendly' content='True')
				meta(name='MobileOptimized' content='320')
				link(rel='icon' href='./favicon.ico' type='image/x-icon')
				link(rel='shortcut icon' type='image/x-icon' href='./favicon.ico')
				// Generated: 2018-03-27 13:25:03 +0200
				title
						| Helpdesk Ticketing
				link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
				link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&subset=latin-ext')
				//- script(src=base_url+'dist/assets/js/require.min.js')
				// Dashboard Core
				link(href=base_url+'dist/assets/css/dashboard.css' rel='stylesheet')
				link(href='https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css', rel='stylesheet')
				link(rel="stylesheet", href=base_url+'stylesheets/sweetalert.css')
				link(rel="stylesheet", href='//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css')
				link(rel="stylesheet", href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css")
				link(rel="stylesheet", href='https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css')
				link(rel="stylesheet", href=base_url+'dist/assets/plugins/charts-c3/plugin.css')
				link(rel="stylesheet", href=base_url+'stylesheets/style.css')
				
		body(data-host=base_url)
				.page
						.page-main
								.header
									.container
										.d-flex
											a.navbar-brand(href=base_url)
												img.navbar-brand-img(src=base_url+'img/logo-sm.png' alt='tabler.io' style="height:100%")
												span PT. INDOPLAT PERKASA PURNAMA
											.ml-auto.d-flex.order-lg-2
												.dropdown.d-none.d-md-flex
													a.nav-link.icon(data-toggle='dropdown')
														i.fe.fe-message-square
													.dropdown-menu.dropdown-menu-right.dropdown-menu-arrow.px-4
														| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium architecto asperiores dolorem, est fugiat in maxime natus officia velit voluptas! Ab asperiores
														| delectus dolore dolores maxime nesciunt qui quia totam.
														| hello
												.dropdown.d-none.d-md-flex
													a.nav-link.icon(href=base_url+'profil')
														i.fe.fe-bell
														span.nav-unread
												.dropdown
													a.nav-link.pr-0(href='#' data-toggle='dropdown')
														span.avatar(style='background-image: url(../dist/demo/faces/female/25.jpg)')
														span.ml-2.d-none.d-lg-block
															span#user-info.text-default(data-user=user.id_users) #{user.email}
															small.text-muted.d-block.mt-1(style='text-transform:capitalize;') #{user.roles[0].role_name}
													.dropdown-menu.dropdown-menu-right.dropdown-menu-arrow
														a.dropdown-item(href=base_url+'profil')
															span Profile
														a.dropdown-item(href=base_url+'profil/password')
															span Change Password
														a.dropdown-item(href='#')
															span.float-right
																span.badge.badge-primary 6
															span Inbox
														a.dropdown-item(href='#')
															span Message
														.dropdown-divider
														a.dropdown-item(href='#') Need help? 
														a.dropdown-item(href=base_url+'logout') Sign out
											#navbarToggler.collapse.navbar-collapse.order-lg-1
												ul.navbar-nav.mt-2.mt-lg-0.mx-0.mx-lg-2
													li.nav-item
														a.nav-link(href='#') Dashboard
													li.nav-item.dropdown
														a.nav-link.dropdown-toggle(href='#' data-toggle='dropdown') Projects
														.dropdown-menu.mt-2.text-color(role='menu')
															a.dropdown-item(href='#')
																i.dropdown-icon.fa.fa-tag
																|  Action
															a.dropdown-item(href='#')
																i.dropdown-icon.fa.fa-pencil
																|  Another action
															a.dropdown-item(href='#')
																i.dropdown-icon.fa.fa-reply
																|  Something else here
															.dropdown-divider
															a.dropdown-item(href='#')
																i.dropdown-icon.fa.fa-ellipsis-h
																|  Separated link
								.header-nav.d-none.d-lg-flex
									.container
										.row.align-items-center
											.col
												ul.nav.nav-tabs
													li.nav-item
														a.nav-link(href=base_url+'home')
															i.fe.fe-home
															|  Home
													if user.roles[0].role_name == 'administrator'
														li.nav-item
															a.nav-link(href='javascript:void(0)')
																i.fe.fe-home
																|  Report
															.nav-submenu.nav
																a.nav-item(href=base_url+'report') By Periode
																a.nav-item(href=base_url+'report/technician') By Technician
														li.nav-item
															a.nav-link(href='javascript:void(0)')
																i.fe.fe-box
																|  Data
															.nav-submenu.nav
																a.nav-item(href=base_url+'users') Data User
													li.nav-item
														a.nav-link(href=base_url+'ticket')
															i.fa.fa-file-o
															|  Tickets
													if user.roles[0].role_name == 'member'
														li.nav-item
															a.nav-link(href=base_url+'ticket/create')
																i.fe.fe-plus-circle
																|  New Tickets
											.col-3.ml-auto
												form.input-icon
													input.form-control.header-search(type='search' placeholder='Search…' tabindex='1')
													.input-icon-addon
														i.fe.fe-search
								.page-content
									.container
										//- .page-header
										//-   h1 Dashboard
										block content
						footer.footer
							.container
								.row.align-items-center.flex-row-reverse
									.col-12.text-center
										| Copyright &copy; 2018 
										a(href='.') Tabler
										| . Theme by 
										a(href='https://codecalm.net' target='_blank') codecalm.net
										|  All rights reserved.
						#modal-rate.modal.fade
							.modal-dialog.modal-dialog-centered(role='document')
								.modal-content
									.modal-header
										h5#exampleModalCenterTitle.modal-title Modal title
										button.close(type='button', data-dismiss='modal', aria-label='Close')
									.modal-body
										ul.rate
											li
												i.fa.fa-heart-o
											li
												i.fa.fa-heart-o
											li
												i.fa.fa-heart-o
											li
												i.fa.fa-heart-o
											li
												i.fa.fa-heart-o
									.modal-footer
										button.btn.btn-secondary(type='button', data-dismiss='modal') Close
										button.btn.btn-primary.complete-ticket(type='button') Save changes
				script(src=base_url+'dist/assets/js/vendors/jquery-3.2.1.min.js')
				script(src=base_url+'dist/assets/js/vendors/bootstrap.bundle.min.js')
				script(src=base_url+'javascripts/sweetalert.min.js')
				script(src=base_url+'dist/assets/js/vendors/selectize.min.js')
				//- script(src=base_url+'dist/assets/plugins/charts-c3/plugin.js')
				script(src=base_url+'dist/assets/plugins/charts-c3/js/c3.min.js')
				script(src=base_url+'dist/assets/plugins/charts-c3/js/d3.v3.min.js')
				script(src='//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js')
				script(src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js")
				script(src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js")
				script(src='https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js')
				script(src='https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.js')
				script(src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/0.9.0rc1/jspdf.min.js")
				//- script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js")
				script(src=base_url+'javascripts/socket.io.js')
				script(src=base_url+'javascripts/app.js')
				script.
					var to_user = $('#user-info').data('user'); var socket = io.connect('http://localhost:3000',  {reconnect: true});
				block script